/* You can add styles here */
#container {
	max-width: 1100px;
	margin: auto;
}

.nav-link {
	font-size: large;
	margin-left: 20px;
}

#products {
	display: flex;
  	align-items: flex-start;
  	flex-wrap: wrap;
  	height: 100%;
}

.item-container {
	width: 30%;
	margin: 10px;
}

.btn, .card {
	border-radius: 3px;
}

a:hover {
	text-decoration: none;
}

.bubble-card:hover {
	border-color: var(--success);
}

.bubble-card-big {
	width: 95%;
	margin: 10px auto;
}

.bundle {
	border: 1px solid var(--primary);
	border-radius: 3px;
	padding: 10px;
}

.bundle-card {
	height: 420px;
	width: 330px;
}

.bundle-button {
	width: 30%;
	margin: 10px auto 0px;
	justify-self: center;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
	position: fixed;
    background: white;
    width: 50%;
    height: 500px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: 1px solid black
}
  
  .display-block {
	display: block;
  }
  
  .display-none {
	display: none;
  }