/* You can add styles here */
#container {
	max-width: 1100px;
	margin: auto;
}

.nav-link {
	font-size: large;
	margin-left: 20px;
}

.padding {
	padding: 10px;
}

#products {
	display: flex;
  	align-items: flex-start;
  	flex-wrap: wrap;
  	height: 100%;
}

.item-container {
	width: 30%;
	margin: 10px;
}

.btn, .card {
	border-radius: 3px;
}

a:hover {
	text-decoration: none;
}

.bubble-card:hover {
	border-color: var(--success);
}

.bubble-card-big {
	width: 95%;
	margin: 10px auto;
}

.bundle {
	border: 1px solid var(--primary);
	border-radius: 3px;
	padding: 10px;
}

.bundle-card {
	height: 420px;
	width: 330px;
	margin-top: 5px;
}

.bundle-button {
	width: 30%;
	margin: 10px auto 0px;
	justify-self: center;
}

table {
	font-size: large;
}
.cart-item {
	height: 100px;
	align-items: center;
	color: black;
}

.cart-item > img {
	height: 100px;
	width: 100px;
	margin-right: 20px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
	position: fixed;
    background: white;
    width: 30%;
	padding-bottom: 5px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
  
  .display-block {
	display: block;
  }
  
  .display-none {
	display: none;
  }

  .checkout-input {
	  width: 60%;
  }

  .checkout-cart-preview {
    width: 35%;
    margin-left: 20px;
  }

  .checkout-cart-item {
	  width: 100%;
	  display: flex;
	  align-items: flex-start;
	  padding: 10px;
	  border-bottom: 1px solid #dfdfdf;
	  flex-wrap: wrap;
  }

  .checkout-cart-item-details {
    width: 75%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
  }

  .checkout-cart-item-image {
	height: 80px;
	width: 80px;
	object-fit: contain;
  }


  #checkout-container {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
  }

  .cart-prev-order {
	border-top: 2px solid #dfdfdf;
	margin-top: 50px;
  }

  .cart-prev-order-title {
	  margin-top: 15px;
  }

  .item-container-overlay {
	width: 60%;
	margin: 0 auto;
}